.wrapper-content{
    margin-top: -82%;
}
.inner-ibox-title{
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0 0;
}
.datetime{
    float: right;
}
